
<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->
<!-- Mirrored from radixtouch.in/templates/admin/redstar/source/light/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 06 Oct 2018 15:11:57 GMT -->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name="description" content="Responsive Admin Template" />
    <meta name="author" content="RedstarHospital" />
    <title>Redstar Hospital | Bootstrap Responsive Hospital Admin Template</title>
    <!-- google font -->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href=@Url.Content("~/Content/ADMIN/assets/simple-line-icons/simple-line-icons.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Content/ADMIN/css/font-awesome.min.css") rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <!--bootstrap -->

    <link href=@Url.Content("~/Content/ADMIN/assets/bootstrap/css/bootstrap.min.css") rel="stylesheet" type="text/css" />
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href=@Url.Content("~/Content/ADMIN/assets/material/material.min.css")>
    <link rel="stylesheet" href=@Url.Content("~/Content/ADMIN/css/material_style.css")>
    <!-- Theme Styles -->
    <link href=@Url.Content("~/Content/ADMIN/css/theme_style.css") rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href=@Url.Content("~/Content/ADMIN/css/plugins.min.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Content/ADMIN/css/style.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Content/ADMIN/css/responsive.css") rel="stylesheet" type="text/css" />
    <link href=@Url.Content("~/Content/ADMIN/css/theme-color.css") rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href=@Url.Content("~/Content/ADMIN/img/favicon.ico") />
</head>
<!-- END HEAD -->

@RenderBody();

</html>
